body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

#content {
  background: rgba(102, 102, 102, 0.7);
  padding: 0.5em 0.5em;
  border-radius: 8px;
  max-width: 200%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#advice {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 6em;
}

@media (max-width: 600px) {
  #content {
    padding: 0.5em 0.25em;
  }
}
